{% extends 'base2.html' %}

{% block header %}

{% endblock %}

{% block content %}

    <!-- login section -->
    <section class="contact_section layout_padding">
      <div class="container-fluid">
        <div class="row">
          <div class="offset-md-1 col-md-10 offset-md-1">
            <div class="heading_container">
              <hr>
              <h2>
                Login
              </h2>
            </div>
          </div>
        </div>
  
        <div class="layout_padding2-top">
          <div class="row">
            <div class="col-lg-4 offset-lg-2 col-md-5 offset-md-1">
              <form action="">
                <div class="contact_form-container">
                  <div>
                    <div>
                      <input type="text" placeholder="Email" />
                    </div>
                    <div>
                      <input type="password" placeholder="Password" />
                    </div>
                    <!-- <div>
                      <button type="submit" onclick="javascript:location.href='book-list.html'">Send</button>
                    </div> -->
                    <div class="layout_padding2-top">
                      <a href="book-list.html" style="border: none;background-color: #fd9e2e;color: #fff;padding: 10px 55px;font-size: 15px;text-transform: uppercase;margin-top: 35px;">
                          Send
                      </a>
                    </div>
                    <div class="layout_padding2-top">
                      <p>No account? <a href="{{ url_for('auth.register') }}">Sign up!</a></p>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end login section -->
{% endblock %}

