{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}
<!-- login section -->
<section class="about_section contact_section layout_padding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 px-0">
        <div class="img-box">
          <img src="{{ url_for('static', filename='images/book-wall-img.jpg') }}" alt="">
        </div>
      </div>
      <div class="col-md-5">
        <div class="detail-box">
          <div class="heading_container">
            <hr>
            <h2>
              Login
            </h2>
          </div>
          <div class="layout_padding2-top">
            <div class="row">
              <div class="col-lg-4 offset-lg-2 col-md-5 offset-md-1">
                <form method="post">
                  <div class="contact_form-container">
                    <div>
                      <div>
                        <input type="text" placeholder="Username" name="username" id="username" required />
                      </div>
                      <div>
                        <input type="password" placeholder="Password" name="password" id="password" required />
                      </div>
                      <div class="layout_padding2-top">
                        <input type="submit" value="Log In"
                          style="border: none;background-color: #fd9e2e;color: #fff;padding: 10px 55px;font-size: 15px;text-transform: uppercase;margin-top: 35px;">
                      </div>
                      <div class="layout_padding2-top">
                        <p>No account? <a href="{{ url_for('auth.register') }}">Sign up!</a></p>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end login section -->

{% endblock %}