{% extends 'base2.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}

<section class="contact_section layout_padding">
  <div class="container-fluid">
    <div class="row">
      <div class="offset-md-1 col-md-10 offset-md-1">
        <div class="heading_container">
          <hr>
          <h2>
            Register
          </h2>
        </div>
      </div>
    </div>

    <div class="layout_padding2-top">
      <div class="row">
        <div class="col-lg-4 offset-lg-2 col-md-5 offset-md-1">
          <form method="post">
            <div class="contact_form-container">
              <div>
                <div>
                  <input type="text" placeholder="Username" name="username" id="username" required/>
                </div>
                <div>
                  <input type="password" placeholder="Password" name="password" id="password" required/>
                </div>
                <div class="layout_padding2-top">

                  <!-- <a href="book-list.html" style="border: none;background-color: #fd9e2e;color: #fff;padding: 10px 55px;font-size: 15px;text-transform: uppercase;margin-top: 35px;">
                      Send
                  </a> -->

                  <input type="submit" value="Register">

                </div>
                <div class="layout_padding2-top">
                  <p>Already have an account? <a href="{{ url_for('auth.login') }}">Log in!</a></p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}